@model List<AnimalViewModel>
@{
    ViewData["Title"] = "Animals Page";
}

<h1 class="display-4">Welcome</h1>
<h2>Bellow you can find all animals in our shelter!</h2>
<form>
<div class="form-group">
    <label for="filterString">Filter:</label>
    <input type="text" id="filterString" placeholder="burek..." class="form-control" /> <br />
</div>
<div class="form-group">
    <label for="type">Type:</label>
    <select id="type" name="type" class="form-select form-select-sm">
        <option>Type 1</option>
        <option>Type 2</option>
    </select> <br />
</div>
    <button type="submit" class="btn btn-outline-secondary">Search</button><br />
</form>
<table class="table"> 
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Race
            </th>
            <th>
                Animal's sex
            </th>
            <th>
                Date of birth
            </th>
            <th>
                Is adopted?
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var animal in Model)
        {
            <tr>
                <td>
                    @animal.Index
                </td>
                <td>
                    @animal.Name
                </td>
                <td>
                    @animal.Type
                </td>
                <td>
                    @animal.Race
                </td>
                <td>
                    @(animal.Sex ? "male" : "female")
                </td>
                <td>
                    @animal.BirthDate
                </td>
                <td>
                    @animal.IsAdopted
                </td>
                <td>
                    <a asp-controller="Animal" asp-action="Index" asp-route-index="@animal.Index">Show</a>
                </td>
            </tr>
        }
    </tbody>
</table>
