@model AnimalsAndTypesViewModel
@{
    ViewData["Title"] = "Animals Page";
}

<h1 class="display-4">Welcome</h1>

<form asp-controller="Home" asp-action="Add" class="form-group mb-5">
    <h1>
        Add new animal to database:
    </h1>
    <label for="animalName">Input animal's name (if it does not have one then do not input anything):</label>
    <input type="text" id="animalName" name="animalName" class="form-control" />

    <label for="type">Input animal's type:</label>
    <select id="type" name="type" class="form-select form-select-sm">
        <option value="type 1">Type 1</option>
    </select>

    <label for="race">Input animal's race:</label>
    <select id="race" name="race" class="form-select form-select-sm">
        <option value="race 1">Race 1</option>
    </select>

    <label for="animalBirthDate">Input animal's date of birth:</label>
    <input type="date" id="animalBirthDate" name="animalBirthDate" class="form-control" />

    <label for="animalGender">Input animal's gender:</label>
    <select id="animalGender" name="animalGender" class="form-select form-select-sm mb-3">
        <option value="1">Male</option>
        <option value="0">Female</option>
    </select>

    <button type="submit" class="btn btn-outline-secondary">Add new animal!</button>
</form>


<h2>Bellow you can find all animals in our shelter!</h2>

<form asp-controller="Home" asp-action="Index">
    <div class="form-group">
        <label for="filterString">Filter:</label>
        <input type="text" id="filterString" name="filterString" placeholder="burek..." class="form-control" /> <br />
    </div>
    <div class="form-group">
        <label for="type">Type:</label>
        <select id="type" name="type" class="form-select form-select-sm">
            <option value="">Any</option>
            @foreach (var type in Model.Types)
            {
                <option value="@type">@type</option>

            }
        </select> <br />
    </div>
    <button type="submit" class="btn btn-outline-secondary">Search</button><br />
</form>

<h2>Available animals in database:</h2>

<table class="table"> 
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Race
            </th>
            <th>
                Animal's sex
            </th>
            <th>
                Date of birth
            </th>
            <th>
                Is adopted?
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var animal in Model.Animals)
        {
            <tr>
                <td>
                    @animal.Index
                </td>
                <td>
                    @animal.Name
                </td>
                <td>
                    @animal.Type
                </td>
                <td>
                    @animal.Race
                </td>
                <td>
                    @(animal.Sex ? "male" : "female")
                </td>
                <td>
                    @animal.BirthDate
                </td>
                <td>
                    @animal.IsAdopted
                </td>
                <td>
                    <a asp-controller="Animal" asp-action="Index" asp-route-index="@animal.Index">Show</a>
                </td>
            </tr>
        }
    </tbody>
</table>
