@model AnimalsTypesRacesViewModel
@{
    ViewData["Title"] = "Animals Page";
}

<h1 class="display-5">Welcome to our shelter</h1>

<button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#addForm">
    Add New!
</button>

<form asp-controller="Home" asp-action="Add" class="form-group mb-5 collapse" id="addForm">
    <h1>
        Add new animal to database:
    </h1>
    <label for="name">Input animal's name (if it does not have one then do not input anything):</label>
    <input type="text" id="name" name="name" class="form-control" />

    <label for="raceId">Input animal's race:</label>
    <select id="raceId" name="raceId" class="form-select form-select-sm">
        @foreach(var race in Model.Races)
        {
            <option value="@race.Id">@race.Type.TypeName -> @race.RaceName</option>
        }
    </select>

    <label for="birthDate">Input animal's date of birth:</label>
    <input type="date" id="birthDate" name="birthDate" class="form-control" />

    <label for="gender">Input animal's gender:</label>
    <select id="gender" name="gender" class="form-select form-select-sm mb-3">
        <option value="1">Male</option>
        <option value="0">Female</option>
    </select>

    <label for="isVaccinated">Input if animal is vaccinated:</label>
    <select id="isVaccinated" name="isVaccinated" class="form-select form-select-sm mb-3">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>

    <label for="description">Other information (description):</label>
    <input type="text" id="description" name="description" class="form-control" />

    <button type="submit" class="btn btn-outline-secondary mt-3">Add new animal!</button>
</form>

<br />
<h2>Bellow you can find all animals in our shelter!</h2>
<h5>Fileter your search</h5>

<form asp-controller="Home" asp-action="Index">
    <div class="form-group">
        <label for="filterString">Filter:</label>
        <input type="text" id="filterString" name="filterString" placeholder="burek..." class="form-control" /> <br />
    </div>
    <div class="form-group">
        <label for="type">Type:</label>
        <select id="type" name="type" class="form-select form-select-sm">
            <option value="">Any</option>
            @foreach (var type in Model.Types)
            {
                <option value="@type.TypeName">@type.TypeName</option>

            }
        </select> 
        <br />
        <label for="adoptedFilter">Adoption filter:</label>
        <select id="adoptedFilter" name="adoptedFilter" class="form-select form-select-sm">
            <option value="any">Any</option>
            <option value="1">Adopted only</option>
            <option value="0">Not adopted only</option>
        </select>
    </div>
    <button type="submit" class="btn btn-outline-secondary mt-2">Search</button><br />
</form>

<h2>Available animals in database:</h2>

<table class="table"> 
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Race
            </th>
            <th>
                Animal's sex
            </th>
            <th>
                Date of birth
            </th>
            <th>
                Is adopted?
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var animal in Model.Animals)
        {
            <tr>
                <td>
                    @animal.Id
                </td>
                <td>
                    @animal.Name
                </td>
                <td title="@animal.Description">
                    @animal.Description.Truncate(10)
                    @if(animal.Description?.Length > 10)
                    {
                        <span>[...]</span>
                    }
                </td>
                <td>
                    @animal.Race.Type.TypeName
                </td>
                <td>
                    @animal.Race.RaceName
                </td>
                <td>
                    @(animal.Gender ? "male" : "female")
                </td>
                <td>
                    @animal.BirthDate
                </td>
                <td>
                    @(animal.Client != null)
                </td>
                <td>
                    <a asp-controller="Home" asp-action="ViewSingleAnimal" asp-route-id="@animal.Id">Show</a>
                </td>
            </tr>
        }
    </tbody>
</table>
