@model AnimalRacesViewModel

@{
    ViewData["Title"] = "Animal Page";
}
<h1>
    Modify #@Model.Animal.Id @Model.Animal.Name's data
</h1>

<form asp-controller="Home" asp-action="Modify" asp-route-id="@Model.Animal.Id" class="form-group mb-5">
    <label for="name">Input new name:</label>
    <input type="text" id="name" name="name" class="form-control" value="@Model.Animal.Name" />

    <label for="raceId">Input new race:</label>
    <select id="raceId" name="raceId" class="form-select form-select-sm">
        @foreach (var race in Model.Races)
        {
            if(race.Id == Model.Animal.Race.Id)
            {
            <option value="@race.Id" selected>@race.Type.TypeName | @race.RaceName</option>
            }
            else
            {
            <option value="@race.Id">@race.Type.TypeName | @race.RaceName</option>
            }
        }
    </select>

    <label for="birthDate">Input new date of birth:</label>
    <input type="date" id="birthDate" name="birthDate" class="form-control" value="@Model.Animal.BirthDate.ToString("yyyy-MM-dd")" />

    <label for="gender">Input new gender:</label>
    <select id="gender" name="gender" class="form-select form-select-sm mb-3">
        @if(Model.Animal.Gender)
        {
            <option selected value="true">Male</option>
            <option value="false">Female</option>
        }
        else
        {
            <option value="true">Male</option>
            <option selected value="false">Female</option>
        }
        
        
    </select>

    <label for="isVaccinated">Input is vaccinated:</label>
    <select id="isVaccinated" name="isVaccinated" class="form-select form-select-sm mb-3">
        @if (Model.Animal.IsVaccinated)
        {
            <option selected value="true">Yes</option>
            <option value="false">No</option>
        }
        else
        {
            <option value="true">Yes</option>
            <option selected value="false">No</option>
        }

        
    </select>

    @*<label for="adopted">Change to not adopted: (Not available for now)</label>
    <select disabled id="adopted" name="adopted" class="form-select form-select-sm mb-3">
        <option value="1">Do not change</option>
        <option value="0">Change</option>
    </select>*@

    <label for="description">Other information (description):</label>
    <input type="text" id="description" name="description" class="form-control" value="@Model.Animal.Description"/>
    
    <button type="submit" class="btn btn-outline-secondary mt-3">Modify animal!</button>
</form>