@model IEnumerable<ClientViewModel>
@{
    ViewData["Title"] = "Clients Page";
}

<h1 class="display-5">
    Manage clients!
</h1>

<button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#addForm">
    Add New!
</button>

<form asp-controller="Clients" asp-action="Add" class="form-group mb-5 collapse" id="addForm">
    <h1>
        Add new client to database:
    </h1>
    <label for="firstName">Input client's first name:</label>
    <input type="text" id="firstName" name="firstName" class="form-control" />

    <label for="lastName">Input client's last name:</label>
    <input type="text" id="lastName" name="lastName" class="form-control" />

    <label for="birthDate">Input client's date of birth:</label>
    <input type="date" id="birthDate" name="birthDate" class="form-control" />

    <label for="clientGender">Input client's gender:</label>
    <select title="You can't be battle droid! Roger Roger" id="clientGender" name="clientGender" class="form-select form-select-sm">
        <option value="1">Male</option>
        <option value="0">Female</option>
        <option title="You can't be battle droid! Roger Roger" value="-1" disabled>Battle droid</option>
    </select>

    <label for="phoneNumber">Input client's phone numer:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" />

    <label for="email">Input client's email:</label>
    <input type="text" id="email" name="email" class="form-control" />

    <button type="submit" class="btn btn-outline-secondary mt-3">Add new client!</button>
</form>

<br />

<h2>Bellow you can find all clients of our shelter!</h2>
<h5>Fileter your search</h5>

<form asp-controller="Clients" asp-action="Index">
    <div class="form-group">
        <label for="filterString">Filter:</label>
        <input type="text" id="filterString" name="filterString" class="form-control" /> <br />
        Gender:
        <select id="genderFilter" name="genderFilter" class="form-select form-select-sm">
            <option value="">Any</option>
            <option value="1">Male</option>
            <option value="0">Female</option>
        </select>
    </div>
    <button type="submit" class="btn btn-outline-secondary mb-3 mt-2">Search</button><br />
</form>

<h2>Available clients in database:</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Last name
            </th>
            <th>
                Phone numer
            </th>
            <th>
                Sex
            </th>
            <th>
                Date of birth
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>
                    @client.Id
                </td>
                <td>
                    @client.FirstName
                </td>
                <td>
                    @client.LastName
                </td>
                <td>
                    @client.PhoneNumber
                </td>
                <td>
                    @(client.Gender ? "male" : "female")
                </td>
                <td>
                    @client.BirthDate
                </td>
                <td>
                    <a asp-controller="Clients" asp-action="ViewSingleClient" asp-route-id="@client.Id">Show</a>
                </td>
            </tr>
        }
    </tbody>
</table>