@model ClientViewModel
@{
    ViewData["Title"] = "Client Page";
}


<h1>
    Client's data:
</h1>

<ul class="list-group">
    <li class="list-group-item">
        Id: @Model.Id
    </li>
    <li class="list-group-item">
        First name: @Model.FirstName
    </li>
    <li class="list-group-item">
        Last name: @Model.LastName
    </li>
    <li class="list-group-item">
        Gender: @(Model.Gender ? "Male" : "Female")
    </li>
    <li class="list-group-item">
        Phone number: @Model.PhoneNumber
    </li>
    <li class="list-group-item">
        Email: @Model.Email
    </li>
    <li class="list-group-item">
        Date of birth: @Model.BirthDate
    </li>
    <li class="list-group-item">
        Adopted animals: 
        @if(Model.Animals != null) 
        {
            <span>@Model.Animals.Count()</span>
        } 
        else 
        { 
            <span>0</span> 
        }
    </li>
</ul>


<h2>
    Animals adopted by this client:
</h2>
<ul class="list-group">
    @if (Model.Animals != null)
    {
        @foreach (var animal in Model.Animals)
        {
            <li class="list-group-item">@animal.Name</li>
        }
    }

</ul>

<h3>Other actions:</h3>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Client" asp-action="Modify" asp-route-id="@Model.Id">Modify</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Client" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </li>
</ul>
