@model AdoptionViewModel
@{
    ViewData["Title"] = "Adoption Page";
}

<h1 class="display-5">
    Adoption's form data:
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Animal's data
            </th>
            <th>
                Value
            </th>
            <th>
                Client's data
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Id:
            </td>
            <td>
                @Model.Animal.Id
            </td>
            <td>
                Id:
            </td>
            <td>
                @Model.Client.Id
            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @Model.Animal.Name
            </td>
            <td>
                First name:
            </td>
            <td>
                @Model.Client.FirstName
            </td>
        </tr>
        <tr>
            <td>
                Type:
            </td>
            <td>
                @Model.Animal.Type.TypeName
            </td>
            <td>
                Last name:
            </td>
            <td>
                @Model.Client.LastName
            </td>
        </tr>
        <tr>
            <td>
                Race:
            </td>
            <td>
                @Model.Animal.Race.RaceName
            </td>
            <td>
                Phone number:
            </td>
            <td>
                @Model.Client.PhoneNumber
            </td>
        </tr>
        <tr>
            <td>
                Gender:
            </td>
            <td>
                @(Model.Animal.Gender ? "male" : "female")
            </td>
            <td>
                Gender:
            </td>
            <td>
                @(Model.Client.Gender ? "male" : "female")
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                @Model.Animal.Description.Truncate(23)
                @if (@Model.Animal.Description?.Length > 10)
                {
                    <span>[...]</span>
                }
            </td>
            <td>
                Email:
            </td>
            <td>
                @Model.Client.Email
            </td>
        </tr>
        <tr>
            <td>
                Date of birth:
            </td>
            <td>
                @Model.Animal.BirthDate
            </td>
            <td>
                Date of birth:
            </td>
            <td>
                @Model.Client.BirthDate
            </td>
        </tr>
        <tr>
            <td>
                Vaccinated:
            </td>
            <td>
                @Model.Animal.IsVaccinated
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
        
    </tbody>
</table>

<form asp-controller="Adoption" asp-action="AdoptSend" asp-route-clientId="@Model.Client.Id" asp-route-animalId="@Model.Animal.Id">
    <button type="submit" class="btn btn-outline-success">Add adoption to database</button>
</form>