@model TypeRaceViewModel
@{
    ViewData["Title"] = "Race Page";
}

<form class="form-group mb-3" asp-action="Add" asp-controller="Race">
    <h1 class="display-5">Add new race of animal:</h1>
    <label for="raceName">Input race:</label>
    <input type="text" id="raceName" name="raceName" class="form-control mb-3" />

    <label for="typeId">Input type:</label>
    <select id="typeId" name="typeId" class="form-select form-select-sm">
    @foreach (var type in Model.Types)
    {
    <option value="@type.Id">@type.TypeName</option>
    }
    </select>

    <button type="submit" class="btn btn-outline-secondary">Add!</button>
</form>


<h1>Available races:</h1>
<ul class="list-group">
    @foreach (var race in Model.Races)
    {
        <li class="list-group-item">
            @race.Id | @race.Type.TypeName | @race.RaceName
            <a asp-controller="Race" asp-action="GoToModify" asp-route-id="@race.Id" class="btn btn-sm btn-outline-success">
                Modify
            </a>
            <a asp-controller="Race" asp-action="Delete" asp-route-id="@race.Id" class="btn btn-sm btn-outline-danger">
                Delete
            </a>
        </li>
    }
</ul>